# Battle of Neighborhood

### The pandemic is gone and you need vacation. You want to travel to Asia. So you need some tips from other.

### Someone give you tips about Seoul and Tokyo, two of booming vacation place to visit in asia. And they give you whats the characteristics of this city to you.
### And you find it helpful cause you know which city you want to visit and which area you will stay

.

# Business Problem

### Japan and South Korea are some of favorite coutry for vacation in Asia. Some people may visit both of country, or only one of them. There are lots of different reason.
### But some people dont know the characteristic of each country. So lets try to find some characteristic of biggest city in both country, Tokyo and Seoul
### This data can use to make statistic data to show tourist which place to visit or which place that you need
### Or which place do you want to visit because the time is limited
### We can compare the data of each city, so tourist can know which city they prefer.
### Its not about which city is better, but which city has the characteristic you want. Cause everyone is different

.

### Now you know which city is more favorable for you, but you dont know which area you want
### The City is big, so you can find which area you prefer again
### Lets say, i need to stay at hotel that with 5 minutes walk i can find lot of restaurant to eat
### Or i need hotel that with 10 minutes walk i can go to Park or find Mall
### With Data you can give your customer info and you can give them tips for what they want

.

## Which Stakeholder can use this data:
### Touris
### Travel Agent
### Business Agent that need to know where they can open their business at

# Data Preparation

### Now we need to find the list of district in both city so we can cluster it later and find the coordinate with geocoder

## Source
### Seoul : https://en.wikipedia.org/wiki/List_of_districts_of_Seoul
### Tokyo : https://en.wikipedia.org/wiki/Tokyo#:~:text=Notable%20districts%20of%20Tokyo%20include%20Chiyoda%20(the%20site,and%20Shibuya%20(a%20commercial,%20cultural%20and%20business%20hub).
### With this data we download the list of district. After that we find the coordinate with geocoder and find nearby venue with Foursquare API
### After that ill using K-Means to cluster and analys each cluster and give information that can be use to promote tourism and info of demographic

# Data Seoul

import re
url='https://en.wikipedia.org/wiki/List_of_districts_of_Seoul'
data=requests.get(url)
df=pd.read_html(data.text)
df=df[1]
df1=df.drop(df.columns[[1,2,3]], axis =1)
df1

In [ ]:
from geopy.geocoders import Nominatim
app = Nominatim(user_agent="seoul_explorer")
lat=[]
lng=[]
for name in df['Name']:
    location = app.geocode(name)
    lat.append(location.latitude)
    lng.append(location.longitude)
    print('success')

In [47]:
print(lat)
print(lng)

[37.6686, 37.5742, 37.5120999, 37.6024, 37.6395, 37.53, 37.5177, 37.5509, 37.4565, 37.4951999, 37.4782, 37.5384, 37.5806949, 37.5636559, 37.6063, 37.566571, 37.654, 37.4835, 37.5790747, 37.59, 37.5635, 37.5145, 37.5171, 37.5262, 37.5323, 37.5534443]
[127.0466, 127.0395, 126.9395, 126.9293, 127.0255, 127.1237, 127.0473, 126.8497, 126.8954, 126.8877, 126.9518, 127.0828, 126.9827989, 126.9975097, 127.093, 126.9015317, 127.0567, 127.0322, 126.9367861, 127.0165, 127.0365, 127.1058, 126.8663, 126.8959, 126.99, 126.9697112]

In [ ]:
df1['Latitude']=lat
df1['Longitude']=lng

# Below is the data of Seoul and Coordinate
### Next Step using Foursquare to find top 10 venue and segment it using K-Means

In [49]:
df1

                            Name   Latitude   Longitude
0           Dobong-gu (도봉구; 道峰區)  37.668600  127.046600
1     Dongdaemun-gu (동대문구; 東大門區)  37.574200  127.039500
2          Dongjak-gu (동작구; 銅雀區)  37.512100  126.939500
3        Eunpyeong-gu (은평구; 恩平區)  37.602400  126.929300
4          Gangbuk-gu (강북구; 江北區)  37.639500  127.025500
5         Gangdong-gu (강동구; 江東區)  37.530000  127.123700
6          Gangnam-gu (강남구; 江南區)  37.517700  127.047300
7          Gangseo-gu (강서구; 江西區)  37.550900  126.849700
8        Geumcheon-gu (금천구; 衿川區)  37.456500  126.895400
9             Guro-gu (구로구; 九老區)  37.495200  126.887700
10          Gwanak-gu (관악구; 冠岳區)  37.478200  126.951800
11        Gwangjin-gu (광진구; 廣津區)  37.538400  127.082800
12          Jongno-gu (종로구; 鍾路區)  37.580695  126.982799
13              Jung-gu (중구; 中區)  37.563656  126.997510
14        Jungnang-gu (중랑구; 中浪區)  37.606300  127.093000
15            Mapo-gu (마포구; 麻浦區)  37.566571  126.901532
16           Nowon-gu (노원구; 蘆原區)  37.654000  127.056700
17          Seocho-gu (서초구; 瑞草區)  37.483500  127.032200
18     Seodaemun-gu (서대문구; 西大門區)  37.579075  126.936786
19        Seongbuk-gu (성북구; 城北區)  37.590000  127.016500
20       Seongdong-gu (성동구; 城東區)  37.563500  127.036500
21          Songpa-gu (송파구; 松坡區)  37.514500  127.105800
22       Yangcheon-gu (양천구; 陽川區)  37.517100  126.866300
23  Yeongdeungpo-gu (영등포구; 永登浦區)  37.526200  126.895900
24         Yongsan-gu (용산구; 龍山區)  37.532300  126.990000
25                    Seoul (서울)  37.553444  126.969711

In [73]:
import re
url='https://en.wikipedia.org/wiki/Tokyo#:~:text=Notable%20districts%20of%20Tokyo%20include%20Chiyoda%20(the%20site,and%20Shibuya%20(a%20commercial,%20cultural%20and%20business%20hub).'
data=requests.get(url)
df3=pd.read_html(data.text)
df3=df3[3]
df3.columns = df3.columns.droplevel(0)
df3.columns = df3.columns.droplevel(0)
df4=df3.drop(df3.columns[[0,2,3,4]], axis =1)
df4.rename(columns={0:"Name"})
df4.columns = ['Name']
df4

          Name
0       Adachi
1      Arakawa
2       Bunkyo
3      Chiyoda
4         Chūō
5      Edogawa
6     Itabashi
7   Katsushika
8         Kita
9         Kōtō
10      Meguro
11      Minato
12      Nakano
13      Nerima
14         Ōta
15    Setagaya
16     Shibuya
17   Shinagawa
18    Shinjuku
19    Suginami
20      Sumida
21       Taitō
22     Toshima

In [86]:
from geopy.geocoders import Nominatim
app = Nominatim(user_agent="tokyo_explorer")
lat_tokyo=[]
lng_tokyo=[]
for name in df4['Name']:
    location = app.geocode(name)
    lat_tokyo.append(location.latitude)
    lng_tokyo.append(location.longitude)
    print('success',name)

success Adachi
success Arakawa
success Bunkyo
success Chiyoda
success Chūō
success Edogawa
success Itabashi
success Katsushika
success Kita
success Kōtō
success Meguro
success Minato
success Nakano
success Nerima
success Ōta
success Setagaya
success Shibuya
success Shinagawa
success Shinjuku
success Suginami
success Sumida
success Taitō
success Toshima

In [90]:
df4['Latitude']=lat_tokyo
df4['Longitude']=lng_tokyo

# Below is the data of Tokyo and Coordinate
### Next Step using Foursquare to find top 10 venue and segment it using K-Means

In [91]:
df4

          Name   Latitude   Longitude
0       Adachi  35.783703  139.795319
1      Arakawa  35.737529  139.781310
2       Bunkyo  35.718810  139.744732
3      Chiyoda  35.693810  139.753216
4         Chūō  35.666255  139.775565
5      Edogawa  35.678278  139.871091
6     Itabashi  35.774143  139.681209
7   Katsushika  35.751733  139.863816
8         Kita  -0.220164  -78.512327
9         Kōtō  35.649154  139.812790
10      Meguro  35.621250  139.688014
11      Minato  35.643227  139.740055
12      Nakano  35.718123  139.664468
13      Nerima  35.748360  139.638735
14         Ōta  35.561206  139.715843
15    Setagaya  35.646096  139.656270
16     Shibuya  35.664596  139.698711
17   Shinagawa  35.599252  139.738910
18    Shinjuku  35.693763  139.703632
19    Suginami  35.699493  139.636288
20      Sumida  35.700429  139.805017
21       Taitō  35.717450  139.790859
22     Toshima  35.736156  139.714222